/* Setting background image for the page */

body {
background-image: url('../assets/img/astronaut.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
max-width: 100vw;
max-height: 100vh;
}

/* Styling for the main heading */
h1{
font: 3.2rem Audiowide, serif;
margin: 2% 1%;
color: hsl(351, 57%, 50%);
}

h2 {
    font: 2.8rem Audiowide, serif;
    text-align: center;
    margin: 2% 1%;
    color: hsl(351, 57%, 50%);
}

#loginForm {
  
    max-width: 80vw;
    margin: 25% auto;
 
}

#credSubmit {
    max-width: 25vw;
    max-height: 25vh;
    margin: 5% auto;
}

.inputBox {
    position: relative;
}

.inputBox input {
    width: 25vw;
    background: transparent;
    color: hsl(0, 0%, 100%);
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    padding: 10% 0 5%;
}

.inputBox label {
    position: absolute;
    left: 0;
    padding: 10% 0 5%;
    color: hsl(192, 40%, 83%);
    text-transform: uppercase;
    pointer-events: none;
    letter-spacing: 0.1rem;
    transition: 0.5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label
 {
    color: hsl(0, 0%, 100%);
    transform: translateY(-16px);
    font-size: 1.4rem;
}

.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4%;
    background: hsl(0, 0%, 100%);
    overflow: hidden;
}

.inputBox i::before {
    content: '';
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #20bf55, #01baef);
    animation: spaceGradient 5s linear infinite;
    transition: .5s;
}

.inputBox input:valid ~ i::before,
.inputBox input:focus ~ i::before
{
    left: 0;
}

/* Styling for paragraphs */
p {
font: 1.8rem Lexend, serif;
margin: 2% 1% ;
color: hsl(192, 40%, 83%);
}


#loginStatus {
    font: 1.6rem Lexend, serif;
    margin: 1% 1% ;
    color: hsl(180, 100%, 84%);
}

.formText {
    font: 1.6rem Lexend, serif;
}


.submit-btn {
    margin: 5% 25%;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    border: solid 1px hsl(255, 255, 255);
    border-radius: 5% 25%;
    padding: 1rem 2.4rem;
    text-align: center;
    transition: .8s all ease-in-out;
}

.submit-btn:hover {
    animation: pulse 1.8s ease-out;
background: hsl(351, 57%, 50%);
color: hsl(192, 40%, 83%);
}

/* Styling for buttons */
button {
background-color: hsl(0, 0%, 100%);
color: hsl(0, 0%, 0%);
border: solid 1px hsl(255, 255, 255);
border-radius: 5% 25%;
padding: 1rem 2.4rem;
text-align: center;
transition: .8s all ease-in-out;
}

/* Styling for button hover and focus state with animation */
button:hover,
button:focus {
animation: pulse 1.8s ease-out;
background: hsl(351, 57%, 50%);
color: hsl(192, 40%, 83%);
}

/* Keyframe animation for button pulse effect */
@keyframes pulse {
0% {
transform: scale(1.2);
box-shadow: -3px 2px 8px 6px hsla(201, 57%, 50%, .9);
}
70% {
box-shadow: -3px 2px 8px 6px hsla(201, 57%, 50%, .3);
}
100% {
transform: scale(1);
box-shadow: -3px 2px 8px 6px hsla(201, 57%, 50%, .9);
}
}

@keyframes spaceGradient {
    0% {
        background-position-x:0
    }
    100% {
        background-position-x: 74%
    }
}


/* Styling for a specific button with id "start-btn" */
#start-btn {
margin: .5% .25% .5% 1% ;
}

button:disabled,
button[disabled] {
    background-color: hsl(0, 0%, 41%);
}

/* Styling for images */
img {
margin: 1%;
width: 240px;
height: 240px;
}


